.chart {
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  margin: 1em 0;
  padding: 2.5em 0 1em 0;
  overflow: hidden;
}
.chart__title {
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translate(-50%, 0);
}
.chart__title h5 {
  font-size: 1.1em;
}
.chart__icons {
  position: absolute;
  top: 0;
  right: 0;
}
.chart__icon {
  margin-left: 0.8em;
}
.chart__loading-error {
  color: red;
}
.chart__error-title {
  margin-bottom: 0.5em;
}
.chart-area__blank {
  padding: 0 2em;
}
