.chart-settings--hidden {
  display: none;
}
.chart-settings__title-input {
  margin-top: 0.5em;
  width: 50%;
}
.chart-settings__title-input label,
.chart-settings__title-input input {
  display: inline-block;
  width: 100%;
}
.chart-settings__fixed-time-inputs {
  display: flex;
}
.chart-settings__fixed-time-inputs,
.chart-settings__dynamic-time-inputs {
  margin: 0.5em 0;
}
.time-input,
.chart-settings__scale-input {
  flex: 1;
  display: inline-block;
  margin-right: 0.5em;
  padding: .1em;
}
.chart-settings__date-picker input,
.chart-settings__scale-input select {
  width: 100%;
}
.chart-settings label {
  font-weight: bold;
}
.chart-settings__time-input:last-of-type {
  margin-right: 0;
}
.chart-settings__metrics {
  height: 449px;
  padding: .5em 0;
  overflow-y: scroll;
}
.chart-settings__table {
  width: 100%;
}
.chart-settings__th {
  text-align: left;
}
.chart-settings__scale-inputs {
  display: flex;
  width: 50%;
}
.time-input__hour,
.time-input__minute {
  flex-grow: 1;
}
.time-input__select-container {
  width: 100%;
  display: flex;
}
.react-datepicker__input-container {
  width: 100%;
}
.radio-label {
  margin: 0 1em 0 0.5em;
}
