.legend {
  margin: 0.5em 0 0 2.5em;
  border-collapse: collapse;
}
.legend-row {
  margin: 0.5em 0;
}
.legend-col {
  padding: 0.3em .5em;
}
.legend-swatch {
  border-radius: 2px;
  width: 17px;
}
.legend-row__value {
  margin-left: 0.5em;
}
.legend-header {
  text-align: left;
  padding: 0.5em;
}
.line {
  fill: none;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
