.metric-picker--hidden {
  display: none;
}
.metric-picker__filters {
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  display: flex;
}
.metric-picker__select,
.metric-picker__input {
  font-size: 1.1em;
}
.metric-picker__input {
  font-size: 1.1em;
  padding: .1em;
  flex-grow: 1;
}
.metric-picker__select {
  margin-right: 0.5em;
}
.metric-picker__metrics {
  height: 402px;
  padding: .5em 0;
  overflow-y: scroll;
}
.metric-picker__table {
  border-collapse: collapse;
  width: 100%;
}
.metric-picker__tr {
  padding: .2em 0;

}
.metric-picker__tr:last-of-type {
  border: none;
}
.metric-picker__th {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 0.2em;
  text-align: left;
}
.metric-picker__env-col,
.metric-picker__app-col,
.metric-picker__metric-col,
.metric-picker__type-col,
.metric-picker__timestamp-col,
.metric-picker__add-col {
  padding: 0.3em 0.1em;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.metric-picker__type-col,
.metric-picker__add-col {
  padding: 0.2em 0.6em;
}
.picker-error__message {
  border-left: 2px solid #DDD;
  color: red;
  margin: 0.5em 0;
  padding: 1em;
}
.metrics-loading-mask {
  margin-top: 10%;
}
.sort-icon {
  margin-left: 0.5em;
}
.metric-picker-mask {
  height: 552px;
}
.metric-picker-message {
  padding-top: 10%;
  text-align: center;
  font-size: 1.2em;
}
