.app {
  padding: 2em;
}
.picker__choices {
  margin-bottom: 1em;
}
.picker__label {
  padding: 0.5em;
}
.picker__radio {
  padding: 0.5em;
}
.app-buttons {
  margin: 1em 0;
}
.app-buttons__button {
  margin-left: 1em;
}
.app-buttons__button:first-of-type {
  margin-left: 0;
}
